/*Inicio del cuerpo*/
body{
	background-image:url(m.png);
	background-size: 100% 100%;
	margin:0px 0px;
	background-repeat:repeat-y;
	background-attachment:fixed;

}

.b-home{
	background-image:url(m10.png);
	background-size: 100%  ;
	background-repeat:repeat-y;
	background-attachment:fixed;
	background-repeat: no-repeat;
}
/*Fin del cuerpo*/
#header{
	
	background-color:rgba(10,10,10,.2);
	margin:0% auto;
	width:100%;
	height:130px;
	position:relative;
	top:-20px;
}

.encabezado{
	/*
*
*  Sixteen-column grid active
*  ----------------------------------------------------------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8     9     10    11    12    13    14    15    16  |   Margin
*  5.55555% | %  6.25  12.5  18.75 25.0  31.25 37.5  43.75 50.0  56.25 62.5  68.75 75.0  81.25 87.5  93.75 100 | 5.55555%
* 
*
*/
	width: 65%;
	margin-left:16%;
	margin-right:7%;
	margin-top:2%;
	height: 120px;
	padding-left: 1.5%;
	padding-right: 1.5%;
}

/*muy importante encbezado h1 y h4*/
.encabezado:after{
	/*
	*two-column grid active
	*--------------------------------------
	*Margin |# 1 2  | Margin
	*5% |% 12.5 25 |5% 
	*/
	clear:both;
	content: "";
	display:block;
	width: 40%;
	height: 15%;
}
.logo{
	width: 100px;
	height: 120;
	background-position:2% 16%;
	float: left;
}
hgroup{
	float: left;
	position: relative;
	display: block;
	width: 40%;
	position: relative;
}
 h2{
 	font-family: 'Titillium Web', sans-serif;
	font-size:1em;
	font-weight:300;
	color:white;
	letter-spacing:0.5em;
	text-transform: uppercase;
	float:left;
}

h4{
	font-family: 'Titillium Web', sans-serif;
	font-size:12px;
	font-weight:300;
	color:white;
	letter-spacing:0.099em;
	line-height: 0.6em;
}
/*Fin de muy importante encbezado h1 y h4*/

/*inicio del navegador*/
#navegation{
	/*
	*tree-column grid active
	*--------------------------------------
	*Margin |# 1 2 3   | Margin
	*5% |% 25 50 75 100 |5% 
	*/
	margin-top:5%;
    float:right;
    bottom:18px;
    margin-right:0%;
    position: relative;
    width: 52.5%;
    display: block;
 }

ul, ol{
	list-style: none;
}
.menu li a{
	float:left;
	background-color:#000;
	text-decoration: none;
	padding: 1% 15%;
	display: block;
	font-family: 'Titillium Web', sans-serif;
	font-size:0.615em;
	font-weight:300;
	color:white;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.200em;
	width: 80px;
}
.menu li a:hover{
	
	background: rgba(30,30,30,.5);
	box-shadow: 0 5px 5px black;
	transition:1s 0s;
	border-bottom: solid 0.25em #A9F5F2;

}

.menu>li{
	float:left;
}
.menu li ul{
	display:none;
	position:relative;
	top:-10%;
	min-width: 85px;
}
.menu li:hover> ul{
	display:block;
}
.activo > a{
	box-shadow:inset 0 5px 5px #A9F5F2;
	box-shadow: 0 5px 5px black;
	border-bottom: solid 1px #A9F5F2;

}

li {
list-style:none;
}

/*findel navegador*/

/*inicio de lo que se aplica sólo en el home*/
.contenedorhome{
/*Sixteen-column grid active
*  ----------------------------------------------------------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8     |   Margin
*  5.55555% | %  6.25  12.5  18.75 25.0  31.25 37.5  43.75 50.0   | 5.55555%
*/
	width:50.0%;
	height:90%;
	margin-top:15% ;
	margin-left: 25.0%;
	padding-top:20px;
	position:relative;
	margin-bottom: 8%;
}
 .enter h3{
	letter-spacing: 0.9em;
	font-size:1.25em;
	font-weight: 300;
	text-transform: uppercase;
	position: relative;
	margin-left: 28%;
	margin-bottom: 3%;
	text-decoration: none;
}
.enter a {
	text-decoration: none;
}
.enter h3:hover{
	color:#A9F5F2;
}
.contenedorhome .p-home{
	font-family: 'Titillium Web', sans-serif;
	color:white;
	font-size:0.7em;
	font-weight: 300;
	letter-spacing: 0.15em;
	line-height:1.3em;
	width: 60%;
	margin-left: 20%;
	margin-bottom: 80%;
	position: relative;
	text-align: center;
	display: block;
}

/*Fin de lo que se aplica sólo en el home*/

h2{
 	font-family: 'Titillium Web', sans-serif;
	font-size:1.000em;
	font-weight:300;
	color:white;
	letter-spacing: 5px;
	text-transform: uppercase;
	position:relative;
}

h3{
 	font-family: 'Titillium Web', sans-serif;
	font-size:0.688em;
	font-weight:400;
	color:white;
	margin-bottom:0px;
	letter-spacing:0.270em;
	text-transform: uppercase;
	display: block;
	margin-left: 10%;
	width: 100%;
}

#contenedor-2{
	/*
	*six-column grid active
	*--------------------------------------
	*Margin |# 1 2 3 4 5 6 | Margin
	*5% |% |5% 
	*/
	background-color:rgba(15,15,15,.5);
	width: 65%;
	height: 430px;
	margin-left:7%;
	position: relative;
	top:28%;
	margin:0px auto;
	list-style: none;
	padding-left: 1.5%;
	padding-right: 1.5%;
	border-radius: 15px 15px 15px 15px;
	
}


/*estas son las imágenes con link hacia galerias de imégenes*/
#contenedor-3{
	/*
	*six-column grid active
	*--------------------------------------
	*Margin |# 1 2 3 4 5 6 | Margin
	*5% |% |5% 
	*/
	width: 100%;
	height: 400px;
	overflow: hidden;
	position:relative;
	left: -11.5%;
	top:4%;
	border: solid 1px orange;

}
.ventana{
	/*
	*four-column grid active
	*--------------------------------------
	*Margin |# 1 2 3 4 | Margin
	*5% |% 25  50 75 100 |5% 
	*/
	
	width: 150px;
	height: 370px;
	position:relative;
	float: left;
	overflow: hidden;
	
}
.ventana1{
	margin-right: 10%;

}
.ventana2{
	margin-right: 10%;
}
.ventana3{
	margin-right: 10%;
}
.ventana4{
	margin-right: 0%;
}

.ventana img{
	position:absolute;
	top:0px;
	left:0px;
	z-index:2;
	width: 150px;
	height: 345px;
	border-radius: 15px 15px 15px 15px;
	box-shadow:5px 5px 5px black;
}
.ventana .textoimg{
	position:relative;
	z-index:1;
	text-align: center;
	background: #151515;
	opacity: .9;
	padding: 20px 30px;
	border-radius: 15px 15px 0px 0px;
} 
.ventana .textoimg h3{
	color:white;
	display: inline-block;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px 10px 15px 10px;
}
.ventana .textoimg p{
	font-family: 'Titillium Web', sans-serif;
	font-size:0.7em;
	font-weight:300;
	color:white;
	margin-top:20px;
	width: 150px;
	line-height: 1.2em;
	position: relative;
	left:-31px;
	display: inline-block;
	height: 50px;
	border-radius: 15px 15px 15px 15px;
}
.ventana .textolink{
	position: relative;
	left: 0px;
	top:0px;
	z-index:-1;
	width: 150px;
	height: 230px;
	text-align: center;
	background:#151515;
	color:white;
	opacity: .9;	
	border-radius: 0px 0px 15px 15px;
  }
.ventana .textolink a{
	margin-top: 0px;
	padding-top: 150px;
	display: block;
	color:#FFFFFF;
	text-decoration: none;
	position: relative;
	top:-120px;
	width: 150px;
	height: 300px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 12px;
	font-weight: 400px;
	border-radius: 15px 15px 15px 15px;
}
.ventana img:hover{

}
.textolink a:hover{
	color:#00FFFF;
	opacity: .3;
	border-radius: 15px 15px 15px 15px;
}

.ventana:hover .textolink{
			z-index: 2;
			

		}
.ventana:hover .textoimg{
		z-index: 3;

}

/*estas son las imágenes con link hacia galerias de imégenes*/

/*Inicio de Galería*/
/*
*
*  Sixteen-column grid active
*  ----------------------------------------------------------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8     9     10    11    12    13    14    15    16  |   Margin
*  5.55555% | %  6.25  12.5  18.75 25.0  31.25 37.5  43.75 50.0  56.25 62.5  68.75 75.0  81.25 87.5  93.75 100 | 5.55555%
* 
*
*/
.dentro{
	position: relative;
	top:2%;
	width: 46%;
	height:370px;
	float: left;
	margin-right: 2.5%;
}
.dentro p{
	font-family: "Titillium", sans-serif;
	font-weight: 300;
	font-size: 0.65em;
	line-height: 1.5em;
	color:white;
	display: block;
	margin: 5%;
	float:left;
	width: 32%;
	position: relative;
	right:-65%;
	top:-72%;
}
.dentro h4{
	margin-top: 0.1%;
	margin-bottom: 10%;
}
.dentro .mas{
	width: 90%;
	height: 30%;
	color:white; 
	text-align: justify;
	position: relative;
	left: -5%;
	margin-top: 65%;
	margin-bottom: 0px;
	display: inline-block;

}

.dentro .imagengaleria{
	box-shadow: 0 0px 5px #A9F5F2;
}
.imagengaleria img{
	border: solid 2px #A9F5F2;
}
.imagengaleria img:hover{
	

}

.primeraimagen{
	width: 300px;
	height: 350px;
	float:left;
	position: absolute;
}

#galeria{
	position:relative;
	top:2px;
	padding-top: 1%;
	float:left;
	width: 51%;
	height: 370px;
}

.imagengaleria {
   margin-right:0.55%;
   border-radius: 10px 10px 10px 10px;
   margin-bottom: 3%;
}
	
}
.imagengaleria img:hover{
	border: solid 1px #A9F5F3;
}


/*Fin de Galería*/




/*inicio de footer*/
hr{
	color:#0B2F3A;
	width: 65%;
	text-align: center;
	position: relative;
	top:24.5%;
} 

footer{
	/*
	Sixteen-column grid active
*  ----------------------------------------------------------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8     9     10    11    12    13    14    15    16  |   Margin
*  5.55555% | %  6.25  12.5  18.75 25.0  31.25 37.5  43.75 50.0  56.25 62.5  68.75 75.0  81.25 87.5  93.75 100 | 5.55555%
* 
	*/
	width: 64%;
	height: 35px;
	position:relative; 
	top:10%;
	left:-2.5%;
}

footer p{
	color:white;
	font-family:"Titillium",Arial,sans-serif;
	font-size:0.625em;
	font-weight:lighter;
	text-align: right;
	width: 100%;
	margin-left:29%;
	margin-top: 2%;
	padding-right: 3%;
	padding-left: 3%;
	padding-bottom: 1%;
}


.footerhome{
	position: relative;
	
}
.footerhome p a{
	color:white;
	text-decoration: none;
}
.footerhome p a:hover{
	color:#78F2D1;
	text-decoration: none;
}

.icono{
	width: 25px;
	height:25px;
	float:left;
	position: relative;
	top:-50%;
	margin-right:2%;
}
.icono:hover{
	box-shadow:inset 0 10px 5px #A9F5F2;
	border-radius: 5px 10px 5px 5px;
}

/*Fin del footer*/

/*Inicio del formulario de contacto*/
.auto{
	width: 300px;
	height: 350px;
	float:left;
	margin-top:30px;
}

div
.contacto_formulario ul{
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
}
.contacto_formulario li{
	font-family:"Titillium",Arial,sans-serif;
	font-weight: 300;
	color:white;
	padding: 0.6em;
	border-bottom: solid 1px transparnte;
	position: relative;
}

.contacto_formulario label{
	width:50%;
	margin-top: 3px;
	padding: 3px;
	display: inline-block;
	float:left;
}
.contacto_formulario input{
	width: 40%;
	height: 5%;
	padding: 5px 8px;
}
.contacto_formulario textarea{
	padding: 0.50em;
	width: 80%;
}
.contacto_formulario button{
	margin-left: 35%;
}
.contacto_formulario input, .contacto_formulario textarea{
	border: solid 1px white;
	box-shadow:0 0 3px #088A85, 0 3px 3px #2E2E2E;
	border-radius: 2px;
	padding-right: 30px;
	-moz-transition:padding .25s;
	-webkit-transition:padding .25s;
	-o-transition:padding .25s;
	-ms-transition:padding .25s;
}
.contacto_formulario input:focus,  .contacto_formulario  textarea:focus{
	background:#088A85;
	border: solid 1px #78F2D1;
	box-shadow: 0 0 3px #78F2D1;
	padding-right: 10%;
}

.form_hint{
	background: yellow;
	border-radius:5px;
	color: white;
	margin-left: 8px;
	padding: 1px 6px;
	z-index:999;
	position:absolute;/*span transparnte*/
	display: none; 
}

.form_hint:before{
	content: "\25c0";
	color:white;
	position: absolute;
	top:1px;
	left: -1px;
}

.contacto_formulario input:focus + .contacto_formulario{
	display: inline;/*se alinea el contacto_formulario con el input*/
}
.contacto_formularioinput:required:valid+.form_hint{
	background: orange;
}

.contacto_formulario input:required:valid+.form_hint:before{
	color:blue;
}

button.enviar{
	border: solid 2px #088A85;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	text-align: center;

}
button.enviar:hover{
	opacity: .85;
	cursor:pointer;
	box-shadow: inset 0 1px 0 0 #088A85;
}

/*Fin del formulario de contacto*/


/*Inicio de la cascada de Golden Grid System*/
/*
*
*  Golden Grid System (1.01)  <http://goldengridsystem.com/>
*  by Joni Korpi        <http://jonikorpi.com/>
*  licensed under MIT     <http://opensource.org/licenses/mit-license.php>
* 
*/
/*
*
*  Margin, padding, and border resets
*  except for form elements
*
*/
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
}
/*
*
*  Consistency fixes
*  adopted from http://necolas.github.com/normalize.css/
*
*/
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  min-height: 100%;
  font-size: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
audio,
canvas,
video {
  display: block;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
b, strong {
  font-weight: bold;
}
abbr[title] {
  border-bottom: 1px dotted;
}
input,
textarea,
button,
select {
  margin: 0;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
textarea {
  overflow: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
*
*  Simple fluid media
*
*/
figure {
  position: relative;
}
figure img,
figure object,
figure embed,
figure video {
  max-width: 100%;
  display: block;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/*
*
* Zoomable baseline grid
* type size presets
*
*/
body {
  /* 16px / 24px */

  font-size: 1em;
  line-height: 1.5em;
}
.small {
  /* 13px / 18px */

  font-size: 0.8125em;
  line-height: 1.3846153846153846em;
}
.normal, h3 {
  /* 16px / 24px */

  font-size: 1em;
  line-height: 1.5em;
  /* 24 */

}
.large, h2, h1 {
  /* 26 / 36px */

  font-size: 1.625em;
  line-height: 1.3846153846153846em;
}
.huge {
  /* 42px / 48px */

  font-size: 2.625em;
  line-height: 1.1428571428571428em;
}
.massive {
  /* 68px / 72px */

  font-size: 4.25em;
  line-height: 1.0588235294117647em;
}
.gigantic {
  /* 110px / 120px */

  font-size: 6.875em;
  line-height: 1.0909090909090908em;
}
/*
*
*  Four-column grid active
*  ----------------------------------------
*  Margin   | #  1   2   3   4   |   Margin
*  5.55555% | %  25  50  75  100 | 5.55555%
*
*/
header, #twoway {
  margin: 0 5.555555555555555%;
}
h1, h2 {
  margin: 0.9230769230769231em 0 1.3846153846153846em;
}
h2 {
  font-weight: normal;
}
h3 {
  margin: 1.5em 0 1.5em;
}
/*
*  Simple elastic gutters
*  Note: box-sizing will not work in IE6-7
*/
.wrapper {
  padding: 0 0.75em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*
*
*  Fixes for IE6-8
*  http://jonikorpi.com/leaving-old-IE-behind/
*
*/
.ie body {
  width: 40em;
  margin: 0 auto;
  font-size: 1.0625em;
}
.ie h1 {
  /* 42px / 48px */

  font-size: 2.625em;
  line-height: 1.1428571428571428em;
  margin: 1.1428571428571428em 0 0.5714285714285714em;
}
/* @media screen and (min-width: 640px) */
@media screen and (min-width: 40em) {
  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
  
    font-size: 1.0625em;
  }
  h1 {
    /* 42px / 48px */
  
    font-size: 2.625em;
    line-height: 1.1428571428571428em;
    margin: 1.1428571428571428em 0 0.5714285714285714em;
  }
}
/*
*
*  Eight-column grid active
*  ----------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8   |   Margin
*  5.55555% | %  12.5  25.0  37.5  50.0  62.5  75.0  87.5  100 | 5.55555%
* 
*
*/
/* @media screen and (min-width: 720px) */
@media screen and (min-width: 45em) {
  body {
    /* Reset baseline grid to 16/16 = 1 */
  
    font-size: 1em;
  }
  #twoway .wrapper {
    float: left;
    width: 50%;
  }
}
/* @media screen and (min-width: 888px) */
@media screen and (min-width: 55.5em) {
  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
  
    font-size: 1.0625em;
  }
}
/* @media screen and (min-width: 984px) */
@media screen and (min-width: 61.5em) {
  body {
    /* Reset baseline grid to 16/16 = 1.0 */
  
    font-size: 1em;
  }
  header, #twoway {
    margin: 0 16.666666666666664%;
  }
}
/* @media screen and (min-width: 1200px) */
@media screen and (min-width: 75em) {
  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
  
    font-size: 1.0625em;
  }
}
/* @media screen and (min-width: 1392px) */
@media screen and (min-width: 87em) {
  body {
    /* Reset baseline grid to 16/16 = 1.0 */
  
    font-size: 1em;
  }
  header, #twoway {
    margin: 0 27.77777777777778%;
  }
}
/* @media screen and (min-width: 1680px) */
@media screen and (min-width: 105em) {
  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
  
    font-size: 1.0625em;
  }
}
/*
*
*  Sixteen-column grid active
*  ----------------------------------------------------------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8     9     10    11    12    13    14    15    16  |   Margin
*  5.55555% | %  6.25  12.5  18.75 25.0  31.25 37.5  43.75 50.0  56.25 62.5  68.75 75.0  81.25 87.5  93.75 100 | 5.55555%
* 
*
*/
/* @media screen and (min-width: 1872px) */
@media screen and (min-width: 117em) {
  header, #twoway {
    margin: 0 5.555555555555555%;
  }
  header .wrapper {
    width: 37.5%;
    margin-left: 25%;
  }
  #twoway .wrapper {
    width: 25%;
  }
  #twoway .wrapper:first-child {
    margin-left: 25%;
  }
}
/* @media screen and (min-width: 2080px) */
@media screen and (min-width: 130em) {
  body {
    /* Zoom baseline grid to 18/16 = 1.125 */
  
    font-size: 1.125em;
    max-width: 160em;
  }
}
/*Fin de la cascada de Golden Grid System*/







/*responsive*/



